LLM_MODELS=[{"model_name":"qwen3.5-27b","litellm_params":{"model":"dashscope/qwen3.5-27b","api_key":"sk-d2a97**************a4e2ce691b","extra_body":{"enable_thinking":false}}},{"model_name":"qwen3.5-flash-thinking","litellm_params":{"model":"dashscope/qwen3.5-flash-2026-02-23","api_key":"sk-d2a97**************a4e2ce691b","extra_body":{"enable_thinking":true}}},{"model_name":"glm5","litellm_params":{"model":"zai/glm-5","api_key":"0cae2d2a6*****************.Smc4OYRYjWQ13VLB","extra_body":{"thinking":{"type":"disabled"}}}},{"model_name":"glm5-thinking","litellm_params":{"model":"zai/glm-5","api_key":"0cae2d2a6*****************.Smc4OYRYjWQ13VLB","extra_body":{"thinking":{"type":"enabled"}}}}]

EMBEDDING_MODEL_NAME=dashscope/text-embedding-v4
EMBEDDING_API_KEY=sk-d2a97**************a4e2ce691b

# Tavily search API key
TAVILY_API_KEY=tvly-p2zKnHvA***********7hTSbylNh5

# Postgres
POSTGRES_USER=langchain
POSTGRES_PASSWORD=langgraph
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=agentdb