COMPATIBLE_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
COMPATIBLE_API_KEY=sk-f9aba4424***********9d2b9f190a9
MODEL_NAME=qwen3-max

# Tavily search API key
TAVILY_API_KEY=tvly-p2zKnHvA***********7hTSbylNh5

# Postgres
POSTGRES_USER=langchain
POSTGRES_PASSWORD=langgraph
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=agentdb